Name :- Pranit Dutta

CWID :- 20010681

In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt 
import sklearn

Loading the dataset

In [2]:
data=pd.read_excel("/Users/pranitdutta/Desktop/ML/HW1/ENB2012_data.xlsx")

In [3]:
data.head(5)

     X1     X2     X3      X4   X5  X6   X7  X8     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  28.28

Dividing the data set into feature and target

In [4]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=1/3,random_state=0)

Importing KFolds

In [6]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

Initializing KFolds

In [7]:
cv = KFold(n_splits=5, random_state=1, shuffle=True)

Lasso

In [8]:
from sklearn import linear_model
m1 = linear_model.Lasso(alpha=0.1)

In [9]:
m1.fit(X_train,y_train)

Lasso(alpha=0.1)

In [10]:
m1.score(X_test,y_test)

0.8678490895778124

In [11]:
score1 = cross_val_score(m1, X, y, scoring='neg_mean_squared_error',cv=cv, n_jobs=-1)

In [12]:
score1
np.mean(np.absolute(score1))

11.43676794456399

RIDGE

In [13]:
from sklearn.linear_model import Ridge
m2=Ridge(alpha=0.1)

In [14]:
score2 = cross_val_score(m2, X, y, scoring='neg_mean_squared_error',cv=cv, n_jobs=-1)

In [15]:
np.mean(np.absolute(score2))

10.46627133207584

ElasticNet

In [16]:
from sklearn.linear_model import ElasticNet

In [17]:
m3=ElasticNet(alpha=0.1)

In [18]:
score3 = cross_val_score(m3, X, y, scoring='neg_mean_squared_error',cv=cv, n_jobs=-1)

In [19]:
np.mean(np.absolute(score3))

13.540737004861771

In [20]:
print(" MSE for Lasso :-")
print(np.mean(np.absolute(score1)))
print(" MSE for RIDGE :-")
print(np.mean(np.absolute(score2)))
print(" MSE for ElasticNet :-")
print(np.mean(np.absolute(score3)))

 MSE for Lasso :-
11.43676794456399
 MSE for RIDGE :-
10.46627133207584
 MSE for ElasticNet :-
13.540737004861771